#header{
        background: #5A020Cce;
        color: #fff


}

#head{
        color: bisque !important;

}


.module h2,
.module caption,
.inline-group h2,
div.breadcrumbs,
slector-chosen h2{




        background: rgba(119,13,25,0.808) !important;
         color: #fff !important
}


.button,
input[type=submit],
input[type=button],
.button,
input[type=submit],
input[type=button],
.button,
input[type=submit],
input[type=button],
.button.default,
input[type=submit].default
.button.default,
input[type=submit].default{

 background: rgba(119,13,25,0.808) !important;

}






.button:active,
input[type=submit]:active,
input[type=button]:active,
.button:focus,
input[type=submit]:focus,
input[type=button]:focus,
.button:hover,
input[type=submit]:hover,
input[type=button]:hover,
.button.default:active,
input[type=submit].default:active,
.button.default:focus,
input[type=submit].default:focus,
.button.default:hover,
input[type=submit]:hover{

 background: rgba(151,31,45,0.808) !important;

}












